/*-------------7D ESERCIZIO-------*/
.angoli{
    border-radius: 10px;
    border: 0.5px solid gray;
    padding: 10px 5px 10px 10px;
    font-family: helvetica;
    font-weight: 100;
    margin-bottom: 50px;
}
/*-------------7E ESERCIZIO-------*/
.ombra{
    border: solid white;
    padding: 10px 10px 10px 15px;
    width: 300px;
    border-radius: 30px;
    font-family: helvetica;
    font-weight: 400;
    box-shadow: 5px 5px 15px gray;
}
/*-------------7F ESERCIZIO-------*/
.link{
    margin-left: 5px;
    font-family: helvetica;
    font-weight: 100;
    margin-bottom: 50px;
}
.email{
    font-size: 14px;
    color: gray;
    margin-bottom: 5px;
}
.metti{
    color: gray;
    width: 320px;
    margin-bottom: 10px;
}
.bot{
    vertical-align: middle;
}
.check{
    vertical-align:middle;
    font-size: 12px;
    color: gray;
    margin-bottom: 15px;
}
.join{
    color: white;
    background-color: blue;
    margin-top: 20px;
    border: solid 1px blue;
    border-radius: 20px;
    padding: 10px 5px 10px 5px;
    width: 330px;
    transition: 0.15s;
}
.join:hover{
    color: blue;
    background-color: white;
}
/*-------------7G ESERCIZIO-------*/

.img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
    vertical-align: middle;
    margin-left: 10px;
}
.teext{
    width: 200px;
    height: 30px;
    margin-right: 50px;
    color: gray;
    font-family: helvetica;
    font-weight: 400;
    border: none;
}
.teext:hover{
    color: black;
}
.bubu{
    color: white;
    background-color: blue;
    margin-top: 20px;
    border: solid 1px blue;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    transition: 0.15s;
}
.bubu:hover{
    color: blue;
    background-color: white;
}